$max: 12;
$angle: 360 / $max;
$size: 120px;
$fill: #ff8071;

.svg {
  height: $size;
  width: $size;
  margin: 100px 500px;
  overflow: visible;
}

@function transform($item: 1) {
  $base: rotate(#{-$angle * $item}deg) translate(5px, 5px);
  @return $base;
}

.g--circle {
  transform-origin: $size/2 $size/2;

  fill: $fill;
  animation: opacity 1.2s linear infinite;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      animation-delay: -#{$item/10}s;
      transform: transform($item) scale(0.9);
    }
  }
}

.g-circles--v1 .g--circle {
  fill-opacity: 0;
  animation-name: opacity;
}

@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}

@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
}

@keyframes colors {
  0% {
    fill: yellowgreen;
  }
  10% {
    fill: gold;
  }
  75% {
    fill: crimson;
  }
}

@keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
  }
  10% {
    stroke: gold;
  }
  75% {
    stroke: crimson;
  }
}

@keyframes colors-2 {
  0% {
    fill: yellow;
  }
  50% {
    fill: red;
  }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}

@keyframes colors-3 {
  0% {
    fill: yellowgreen;
  }
  50% {
    fill: turquoise;
  }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}

@keyframes transform {
  10% {
    transform-origin: 70px 70px;
    transform: scale(0.75);
  }
}

@keyframes transform-2 {
  40% {
    transform: scale(0.85) translate(10px, 10px);
  }
  60% {
    stroke-width: 20;
  }
}
