<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body class="body">

    <header class="header center">
        <a href="#" class="header__logo">
            <img src="../../public/img/logo-white.svg" class="header__logo-img">
        </a>
        <div class="header__button">
            <button class="header__button-enter">
                Войти
            </button>
        </div>
    </header>

    <section class="adv paddingforAdv">

        <div class="adv__text">
            <div class="adv__text-s">
                <a>Онлайн-тренировки для занятий дома</a>
            </div>
            <div class="adv__text-b">
                <a>Начните заниматься спортом и улучшите качество жизни</a>
            </div>
        </div>
        <div class="continer">
            <div class="adv__img">

                <!-- <a class="adv__img-txt">Измени своё тело за полгода</a> -->
            </div>
        </div>
    </section>

    <section class="card center">
        <div class="card__img1"></div>
        <div class="card__img2"></div>
        <div class="card__img3"></div>
        <div class="card__img4"></div>
        <div class="card__img5"></div>
    </section>

    <footer class="footer">
        <button class="footer__button">
            <!-- <a href="#" class="footer__button-txt">Наверх ↑</a> -->
        </button>
    </footer>

</body>

</html>