$text-color: #000;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('StratosSkyeng'),
    local('StratosSkyeng'),
    url('../../../../public/fonts/StratosSkyeng.woff2') format('woff2'),
    url('../../../../public/fonts/StratosSkyeng.woff') format('woff');
}

html,
body {
  font-family: 'StratosSkyeng', sans-serif;
}

.button {
  width: 275px;
  height: 52px;
  border-radius: 46px;
  background: rgb(88, 14, 162);
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'StratosSkyeng', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: #3f007d;
  }

  &:active {
    background: rgb(39, 26, 88);
  }
}

.wrapper {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  width: 361px;

  &__title {
    color: $text-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-top: 36px;
  }

  &__text {
    color: $text-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05px;
    padding-top: 34px;
    padding-bottom: 22px;
  }

  &__input {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05px;
    width: 361px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d0cece;
    outline: none;
    -moz-appearance: textfield;

    &::placeholder {
      background-color: transparent;
      color: #d0cece;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__for-button {
    display: flex;
    justify-content: center;
  }

  &__button {
    margin: 43px 0 44px 0;
  }
}

.progress-popup {
  display: flex;
  flex-direction: column;
  margin-top: 41px;

  &__title {
    color: $text-color;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    width: 268px;
  }

  &__img {
    width: 245px;
    height: 226px;
    padding-top: 7px;
  }
}
