$text-color: #000;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('StratosSkyeng'),
    local('StratosSkyeng'),
    url('../../../../public/fonts/StratosSkyeng.woff2') format('woff2'),
    url('../../../../public/fonts/StratosSkyeng.woff') format('woff');
}

html,
body {
  font-family: 'StratosSkyeng', sans-serif;
}

.wrapper {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.logo {
  &__top {
    padding-top: 30px;
  }
}

.skill-card {
  position: relative;
  margin-top: 71px;
  margin-bottom: 72px;

  &__img {
    width: 1160px;
    height: 310px;
  }

  &__title {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.8px;
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.heading {
  color: $text-color;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.reccomend {
  &__heading {
    padding-bottom: 40px;
  }

  &__items {
    display: flex;
    gap: 87px;
  }

  &__item {
    display: flex;
    gap: 24px;

    &:last-child {
      .reccomend__item-text {
        width: 218px;
      }
    }
  }

  &__item-left {
    position: relative;
    width: 67px;
    height: 67px;
    display: flex;
  }

  &__item-text {
    width: 244px;
    color: $text-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  &__num-bg {
    width: 100%;
  }

  &__num {
    width: 100%;
    color: #000;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.directions {
  margin-top: 75px;
  margin-bottom: 75px;

  &__heading {
    padding-bottom: 22px;
  }

  &__container {
    display: flex;
    gap: 213px;
    color: $text-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  &__items-left {
    padding-left: 38px;
  }
}

.motivation {
  &__text {
    color: $text-color;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

.contacts {
  display: flex;
  margin-top: 75px;
  margin-bottom: 95px;
  border-radius: 30px;
  background: #f9ebff;
  position: relative;
  width: 1160px;
  min-height: 300px;
  padding-bottom: 48px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-left: 52px;
  }

  &__text {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 823px;
    padding-top: 46px;
  }

  &__img {
    width: 298px;
    height: 296px;
    position: absolute;
    right: 0px;
  }
}

.button {
  width: 275px;
  height: 52px;
  border-radius: 46px;
  background: var(--palette-purple-90, #580ea2);
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'StratosSkyeng', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05px;
  cursor: pointer;
}
