* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.logo__top {
  padding-top: 30px;
}

.skill-card {
  position: relative;
  margin-top: 75px;
  margin-bottom: 75px;
}
.skill-card__img {
  width: 1160px;
  height: 310px;
}
.skill-card__title {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.8px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.heading {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.reccomend__heading {
  padding-bottom: 40px;
}
.reccomend__items {
  display: flex;
  gap: 87px;
}
.reccomend__item {
  display: flex;
  gap: 24px;
}
.reccomend__item:last-child .reccomend__item-text {
  width: 218px;
}
.reccomend__item-left {
  position: relative;
  width: 67px;
  height: 67px;
  display: flex;
}
.reccomend__item-text {
  width: 244px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.reccomend__num-bg {
  width: 100%;
}
.reccomend__num {
  width: 100%;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.directions {
  margin-top: 75px;
  margin-bottom: 75px;
}
.directions__heading {
  padding-bottom: 22px;
}
.directions__container {
  display: flex;
  gap: 170px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.directions__items-left {
  padding-left: 30px;
}

.motivation__text {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.contacts {
  display: flex;
  margin-top: 75px;
  margin-bottom: 95px;
  border-radius: 30px;
  background: #f9ebff;
  position: relative;
  width: 1160px;
  height: 300px;
}
.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-left: 52px;
}
.contacts__text {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  width: 823px;
  padding-top: 46px;
}
.contacts__img {
  width: 301px;
  height: 304px;
  position: absolute;
  right: 0px;
}

.button {
  width: 275px;
  height: 52px;
  border-radius: 46px;
  background: var(--palette-purple-90, #580ea2);
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05px;
}/*# sourceMappingURL=WorkoutInfoPage.css.map */